@page "/"
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime
@attribute [StreamRendering]

<PageTitle>UniNotes</PageTitle>

<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

<div id="particles-js"></div>

<script src="js/particles/particles.js"></script>

<script>
    particlesJS.load('particles-js', 'js/particles/particles.json', function () {});
</script>

<div class="full-page-background">
	<center>
		<h1 class="logo">UniNotes</h1>
		<h2>2025</h2>
	</center>
	<div class="typewriter">
		<span id="text"></span><span class="cursor">|</span>
	</div>
	<div class="button-container">
		<button class="action-button" @onclick='() => navigateTo("login")'>Login</button>
		<button class="action-button" @onclick='() => navigateTo("register")'>Register</button>
	</div>
</div>
<script src="js/landing.js"></script>

@code{
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JSRuntime.InvokeVoidAsync("startTypewriter");
		}
	}

    private void navigateTo(string page)
    {
        Navigation.NavigateTo($"/{page}");
    }	
}
